



.fill{
  border: 3px solid black;
  width: auto; height: 600px;
  border-radius: 30px;
  margin-top: 18%;
  background-color: lightgrey;

}
.parent{
  border: 3px solid rgb(17, 17, 20);
  width: auto;
   height: 550px;
  border-radius: 30px;
  /* margin-top: 18%; */
}
li{
  margin-top: 10px;
  margin-left: 20%;
  font-size: 19px;
}

