<!-- <router-outlet></router-outlet> -->
<form action="" >
  <div class="container">
    <div class="col-lg-12">
      <div class="row d-flex">
        <div class="col-lg-6">
          <div class="fill">
            <h1 class="text-center mt-4">Fill Your Information Here</h1>
            <br>
            <div style="padding:50px">
        <ul>
          <li *ngFor="let bev of beverages">
        {{bev}}
          </li>
        </ul>
          </div>
        </div>
      </div>
        <div class="col-lg-6">
  <app-parent [beverage]="currentBeverage" (newBeverageEvent)="addBeverage($event)"></app-parent>
        </div>
      <br>
      <br>
    </div>
  </div>
</div>
</form>
